In [31]:
# Importing the necessary libraries

import pandas as pd 
import numpy as np

In [51]:
# Reading the csv files

df=pd.read_csv('netflix_titles.csv')

In [3]:
# Shape of the raw dataset 

print(f" It has {df.shape[0]} no. of rows and {df.shape[1]} columns")

 It has 8807 no. of rows and 12 columns

In [101]:
# Overview of the Dataset

df.sample(7)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
53,s54,Movie,InuYasha the Movie 4: Fire on the Mystic Island,Toshiya Shinohara,"Kappei Yamaguchi, Satsuki Yukino, Koji Tsujita...",Japan,"September 15, 2021",2004-01-01,TV-PG,88 min,"Action & Adventure, Anime Features, Internatio...","Ai, a young half-demon who has escaped from Ho..."
8145,s8146,Movie,Tahaan,Santosh Sivan,"Purav Bhandare, Anupam Kher, Rahul Bose, Victo...",India,"July 15, 2018",2008-01-01,TV-14,95 min,"Dramas, International Movies",After his family's donkey is confiscated by a ...
6582,s6583,Movie,Dear Santa,Jason Priestley,"Amy Acker, David Haydn-Jones, Patrick Creery, ...",Canada,"November 4, 2019",2011-01-01,TV-PG,92 min,"Comedies, Romantic Movies",Finding a letter mailed to Santa by a girl ask...
5180,s5181,TV Show,Project Mc²,NaN,"Mika Abdalla, Genneya Walton, Victoria Vida, Y...",United States,"November 7, 2017",2017-01-01,TV-G,6 Seasons,Kids' TV,Teenage spy McKeyla teams up with three other ...
3258,s3259,TV Show,Candy Online,NaN,"Ruby Zhan, Suun Lin, Sunnie Wang, Dean Tang, L...",Taiwan,"November 17, 2019",2019-01-01,TV-MA,1 Season,"International TV Shows, TV Dramas, Teen TV Shows","When a wardrobe malfunction goes viral, a bubb..."
2126,s2127,Movie,What's Your Raashee?,Ashutosh Gowariker,"Harman Baweja, Priyanka Chopra, Manju Singh, A...",India,"August 15, 2020",2009-01-01,TV-PG,203 min,"Comedies, International Movies, Music & Musicals","To protect his family from ruin, Yogesh must m..."
5570,s5571,Movie,Howards End,James Ivory,"Anthony Hopkins, Vanessa Redgrave, Helena Bonh...","United Kingdom, Japan, United States","March 16, 2017",1992-01-01,PG,143 min,"Classic Movies, Dramas, Independent Movies","When a husband, acting in his family's ""best i..."

In [5]:
# Column-names 

df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [7]:
# 1. Count the Number of TV Shows and Movies 

df.groupby('type')['show_id'].size()

type
Movie      6131
TV Show    2676
Name: show_id, dtype: int64

In [8]:
# 2. Finding the most common ratings for movies and tv Shows 

df_grouped = df.groupby(['type', 'rating']).size().reset_index(name='frequency')

# Step 2: Rank within each 'type' by descending frequency
df_grouped['rankings'] = df_grouped.groupby('type')['frequency'].rank(method='dense', ascending=False)

# Step 3: Filter only rank = 1 (most frequent rating per type)
result = df_grouped[df_grouped['rankings'] == 1][['type', 'rating']]

print(result)

       type rating
11    Movie  TV-MA
21  TV Show  TV-MA

In [9]:
# 3. List all the movies released in an specific year (eg. 2020) 

df[(df.type=='Movie') & (df.release_year==2020)]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
16,s17,Movie,Europe's Most Dangerous Man: Otto Skorzeny in ...,"Pedro de Echave García, Pablo Azorín Williams",NaN,NaN,"September 22, 2021",2020,TV-MA,67 min,"Documentaries, International Movies",Declassified documents reveal the post-WWII li...
78,s79,Movie,Tughlaq Durbar,Delhiprasad Deenadayalan,"Vijay Sethupathi, Parthiban, Raashi Khanna",NaN,"September 11, 2021",2020,TV-14,145 min,"Comedies, Dramas, International Movies",A budding politician has devious plans to rise...
84,s85,Movie,Omo Ghetto: the Saga,"JJC Skillz, Funke Akindele","Funke Akindele, Ayo Makun, Chioma Chukwuka Akp...",Nigeria,"September 10, 2021",2020,TV-MA,147 min,"Action & Adventure, Comedies, Dramas",Twins are reunited as a good-hearted female ga...
103,s104,Movie,Shadow Parties,Yemi Amodu,"Jide Kosoko, Omotola Jalade-Ekeinde, Yemi Blaq...",NaN,"September 6, 2021",2020,TV-MA,117 min,"Dramas, International Movies, Thrillers",A family faces destruction in a long-running c...
...,...,...,...,...,...,...,...,...,...,...,...,...
3046,s3047,Movie,All the Freckles in the World,Yibrán Asuad,"Hánssel Casillas, Loreto Peralta, Andrea Sutto...",Mexico,"January 3, 2020",2020,TV-14,90 min,"Comedies, International Movies, Romantic Movies",Thirteen-year-old José Miguel is immune to 199...
3060,s3061,Movie,Ghost Stories,"Anurag Kashyap, Dibakar Banerjee, Karan Johar,...","Janhvi Kapoor, Sobhita Dhulipala, Sukant Goel,...",India,"January 1, 2020",2020,TV-MA,145 min,"Horror Movies, International Movies, Thrillers","The directors of Emmy-nominated ""Lust Stories""..."
5972,s5973,Movie,#cats_the_mewvie,Michael Margolis,NaN,Canada,"February 5, 2020",2020,TV-14,90 min,"Documentaries, International Movies",This pawesome documentary explores how our fel...
7594,s7595,Movie,Norm of the North: Family Vacation,Anthony Bell,"Andrew Toth, Lisa Durupt, Jonathan Holmes, Pau...",United States,"May 25, 2020",2020,TV-Y7,89 min,Children & Family Movies,"Stressed by his duties as king and father, Nor..."
8099,s8100,Movie,Straight Up,James Sweeney,"James Sweeney, Katie Findlay, Randall Park, Hi...",United States,"June 26, 2020",2020,TV-MA,96 min,"Comedies, Independent Movies, LGBTQ Movies",When a gay brainiac with OCD questions his ide...

In [10]:
# 4. Find the top 5 Countries with most content on Netflix 

# step .1 :- creating copy of the dataset
df1=df.copy()

# step 2 :- splitting the string into list of arrays
df1['country_list']=df['country'].str.split(',')

# step 3 :- unnesting the list and triming the unnecessary spaces
df2=df1.explode('country_list')['country_list'].str.strip()

# step 4 :- taking the count according to the categories
df2.value_counts().head(5)

country_list
United States     3690
India             1046
United Kingdom     806
Canada             445
France             393
Name: count, dtype: int64

In [11]:
# 5. Identify the Longest running movie 

# step 1 :- removing the 'MIN' and converting the duration into Integer
max_duration=df[df.type=='Movie']['duration'].str.replace('min','').astype('Int64').max()

# step 2 :- Fetching the movie having the maximum duration
df[df['duration']==f"{max_duration} min"]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
4253,s4254,Movie,Black Mirror: Bandersnatch,NaN,"Fionn Whitehead, Will Poulter, Craig Parkinson...",United States,"December 28, 2018",2018,TV-MA,312 min,"Dramas, International Movies, Sci-Fi & Fantasy","In 1984, a young programmer begins to question..."

In [12]:
# 6. Find the content added in last 5 years 

df['date_added'] = pd.to_datetime(df['date_added'], format='%B %d, %Y', errors='coerce')

# current date
today = pd.Timestamp.today()

# filter for last 5 years
df_recent = df[df['date_added'] >= (today - pd.DateOffset(years=5))]

df_recent

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,2021-09-24,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,2021-09-24,2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8395,s8396,Movie,The Little Prince,Mark Osborne,"Jeff Bridges, Mackenzie Foy, Rachel McAdams, R...","France, Canada, Italy, United States, China",2020-11-06,2015,PG,107 min,Children & Family Movies,When an overscheduled girl befriends an eccent...
8434,s8435,Movie,The Naked Gun: From the Files of Police Squad!,David Zucker,"Leslie Nielsen, Priscilla Presley, George Kenn...",United States,2021-01-01,1988,PG-13,85 min,"Comedies, Cult Movies",Hapless cop Frank Drebin causes more problems ...
8437,s8438,TV Show,The Netflix Afterparty,NaN,"David Spade, London Hughes, Fortune Feimster",United States,2021-01-02,2021,TV-MA,1 Season,"Stand-Up Comedy & Talk Shows, TV Comedies","Hosts David Spade, Fortune Feimster and London..."
8461,s8462,Movie,The Polar Express,Robert Zemeckis,"Tom Hanks, Leslie Zemeckis, Eddie Deezen, Nona...",United States,2021-01-01,2004,G,100 min,Children & Family Movies,"In this warm-hearted tale, a young boy's faith..."
8506,s8507,Movie,The Sign of Venus,Dino Risi,"Sophia Loren, Franca Valeri, Vittorio De Sica,...",Italy,2020-11-13,1955,TV-14,97 min,"Classic Movies, Comedies, Independent Movies","While suitors swoon over her cousin, a single ..."

In [13]:
# 7. Find all the movies and TV/Shows directed by Rajiv Chilaka 

df[df['director'].str.contains('rajiv chilaka',case=False , na=False)].count()

show_id         22
type            22
title           22
director        22
cast            19
country          5
date_added      22
release_year    22
rating          22
duration        22
listed_in       22
description     22
dtype: int64

In [14]:
# 8. List all the TV shows with more than 5 Seasons

# step 1 :- copy of the original datasets
df_tv=df.copy()

# step 2:- Fetching only TV shows and converting the duration object into Integer for comparison
df_tv.duration=df_tv[df_tv.type=='TV Show']['duration'].str.split(' ').str[0].astype('Int64')

#step 3:- fetching only unique shows having more than 5 seasons
greater=df_tv[df_tv.duration>5]['title'].unique()

df[df['title'].isin(greater)]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,2021-09-24,2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
55,s56,TV Show,Nailed It,NaN,"Nicole Byer, Jacques Torres",United States,2021-09-15,2021,TV-PG,6 Seasons,Reality TV,Home bakers with a terrible track record take ...
65,s66,TV Show,Numberblocks,NaN,"Beth Chalmers, David Holt, Marcel McCalla, Ter...",United Kingdom,2021-09-15,2021,TV-Y,6 Seasons,Kids' TV,"In a place called Numberland, math adds up to ..."
67,s68,TV Show,Saved by the Bell,NaN,"Mark-Paul Gosselaar, Tiffani Thiessen, Mario L...",United States,2021-09-15,1994,TV-PG,9 Seasons,"Kids' TV, TV Comedies","From middle school to college, best friends Za..."
82,s83,TV Show,Lucifer,NaN,"Tom Ellis, Lauren German, Kevin Alejandro, D.B...",United States,2021-09-10,2021,TV-14,6 Seasons,"Crime TV Shows, TV Comedies, TV Dramas","Bored with being the Lord of Hell, the devil r..."
...,...,...,...,...,...,...,...,...,...,...,...,...
8189,s8190,TV Show,The Andy Griffith Show,NaN,"Andy Griffith, Ron Howard, Don Knotts, Frances...",United States,NaT,1967,TV-G,8 Seasons,"Classic & Cult TV, TV Comedies",Homespun humor and easygoing Sheriff Andy Tayl...
8378,s8379,TV Show,The L Word,NaN,"Jennifer Beals, Leisha Hailey, Laurel Holloman...","Canada, United States",NaT,2009,TV-MA,6 Seasons,"Romantic TV Shows, TV Dramas",This trailblazing series follows the tangled l...
8442,s8443,TV Show,The Office (U.S.),NaN,"Steve Carell, John Krasinski, Jenna Fischer, R...",United States,NaT,2012,TV-14,9 Seasons,TV Comedies,This hit comedy chronicles the foibles of disg...
8557,s8558,TV Show,The West Wing,NaN,"Martin Sheen, Rob Lowe, Allison Janney, John S...",United States,NaT,2005,TV-14,7 Seasons,TV Dramas,This powerful political epic chronicles the tr...
8710,s8711,TV Show,Weeds,NaN,"Mary-Louise Parker, Hunter Parrish, Alexander ...",United States,2014-04-01,2012,TV-MA,8 Seasons,"TV Comedies, TV Dramas",A suburban mother starts selling marijuana to ...

In [15]:
# 9. Count the Number of content items in each Genre. 

df_new=df.copy()

# step 1:- converting the str into list of strings 
df_new['genres']=df_new['listed_in'].str.split(',')

#step 2 :- exploding the arrays into multiple duplicate rows and removing xtra spaces
df_new=df_new.explode('genres')
df_new['genres']=df_new['genres'].str.strip()

# step 3:- grouping it according to Genre and taking count of it
df_new.groupby('genres')['genres'].count().sort_values(ascending=False).head(7)

genres
International Movies      2752
Dramas                    2427
Comedies                  1674
International TV Shows    1351
Documentaries              869
Action & Adventure         859
TV Dramas                  763
Name: genres, dtype: int64

In [45]:
# 10. Find each year and the average numbers of content release by India on Netflix  
# return top 5 year with Highest avg content release 
# select date_added from netflix 

# step 1:- Extracting rows where country belongs to India and keeping only years 
df_india=df[df.country.str.contains('india',case=False,na=False)]

df_india['year']=df_india['date_added'].dt.year

# step 2:- Grouping according to the year at which get added with frequency of it
year_num=df_india.groupby('year').size().reset_index(name='frequency')

total=year_num.frequency.sum()
year_num['avg_content']=round((year_num['frequency']/total)*100,2)

year_num.sort_values(by='avg_content',ascending=False).head(5)

C:\Users\ARYAN SINGH\AppData\Local\Temp\ipykernel_19052\1534004310.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_india['year']=df_india['date_added'].dt.year

     year  frequency  avg_content
2  2018.0        349        33.40
3  2019.0        218        20.86
4  2020.0        199        19.04
1  2017.0        161        15.41
5  2021.0        105        10.05

In [16]:
# 11. List all the movies that are documentaries 

df[df['listed_in'].str.contains('documentaries',case=False)]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
16,s17,Movie,Europe's Most Dangerous Man: Otto Skorzeny in ...,"Pedro de Echave García, Pablo Azorín Williams",NaN,NaN,2021-09-22,2020,TV-MA,67 min,"Documentaries, International Movies",Declassified documents reveal the post-WWII li...
45,s46,Movie,My Heroes Were Cowboys,Tyler Greco,NaN,NaN,2021-09-16,2021,PG,23 min,Documentaries,Robin Wiltshire's painful childhood was rescue...
68,s69,Movie,Schumacher,"Hanns-Bruno Kammertöns, Vanessa Nöcker, Michae...",Michael Schumacher,NaN,2021-09-15,2021,TV-14,113 min,"Documentaries, International Movies, Sports Mo...",Through exclusive interviews and archival foot...
88,s89,Movie,Blood Brothers: Malcolm X & Muhammad Ali,Marcus Clarke,"Malcolm X, Muhammad Ali",NaN,2021-09-09,2021,PG-13,96 min,"Documentaries, Sports Movies","From a chance meeting to a tragic fallout, Mal..."
...,...,...,...,...,...,...,...,...,...,...,...,...
8739,s8740,Movie,Why We Fight: The Battle of Russia,"Frank Capra, Anatole Litvak",NaN,United States,2017-03-31,1943,TV-PG,82 min,Documentaries,This installment of Frank Capra's acclaimed do...
8744,s8745,Movie,Williams,Morgan Matthews,NaN,United Kingdom,2017-11-04,2017,TV-MA,105 min,"Documentaries, International Movies, Sports Mo...",This inspiring documentary charts the birth of...
8746,s8747,Movie,Winnie,Pascale Lamche,NaN,"France, Netherlands, South Africa, Finland",2018-02-26,2017,TV-14,85 min,"Documentaries, International Movies",Winnie Mandela speaks about her extraordinary ...
8756,s8757,Movie,Woodstock,Barak Goodman,NaN,United States,2019-08-13,2019,TV-MA,97 min,"Documentaries, Music & Musicals",For the 50th anniversary of the legendary Wood...
8763,s8764,Movie,WWII: Report from the Aleutians,John Huston,NaN,United States,2017-03-31,1943,TV-PG,45 min,Documentaries,Filmmaker John Huston narrates this Oscar-nomi...

In [17]:
# 12. Find all the content without a director 

df[df.director.isnull()]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,2021-09-24,2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
10,s11,TV Show,"Vendetta: Truth, Lies and The Mafia",NaN,NaN,NaN,2021-09-24,2021,TV-MA,1 Season,"Crime TV Shows, Docuseries, International TV S...","Sicily boasts a bold ""Anti-Mafia"" coalition. B..."
14,s15,TV Show,Crime Stories: India Detectives,NaN,NaN,NaN,2021-09-22,2021,TV-MA,1 Season,"British TV Shows, Crime TV Shows, Docuseries",Cameras following Bengaluru police on the job ...
...,...,...,...,...,...,...,...,...,...,...,...,...
8795,s8796,TV Show,Yu-Gi-Oh! Arc-V,NaN,"Mike Liscio, Emily Bauer, Billy Bob Thompson, ...","Japan, Canada",2018-05-01,2015,TV-Y7,2 Seasons,"Anime Series, Kids' TV",Now that he's discovered the Pendulum Summonin...
8796,s8797,TV Show,Yunus Emre,NaN,"Gökhan Atalay, Payidar Tüfekçioglu, Baran Akbu...",Turkey,2017-01-17,2016,TV-PG,2 Seasons,"International TV Shows, TV Dramas","During the Mongol invasions, Yunus Emre leaves..."
8797,s8798,TV Show,Zak Storm,NaN,"Michael Johnston, Jessica Gee-George, Christin...","United States, France, South Korea, Indonesia",2018-09-13,2016,TV-Y7,3 Seasons,Kids' TV,Teen surfer Zak Storm is mysteriously transpor...
8800,s8801,TV Show,Zindagi Gulzar Hai,NaN,"Sanam Saeed, Fawad Khan, Ayesha Omer, Mehreen ...",Pakistan,2016-12-15,2012,TV-PG,1 Season,"International TV Shows, Romantic TV Shows, TV ...","Strong-willed, middle-class Kashaf and carefre..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,2019-07-01,2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."

In [53]:
# 13. Find how many movies actor 'Salman Khan' appeared in last 10 years

df.release_year=pd.to_datetime(df.release_year,format='%Y')

In [68]:
df_salman=df[df.cast.str.contains('salman khan', case=False, na=False)]
today = pd.Timestamp.today()

df_salman[df_salman.release_year>(today-pd.DateOffset(years=10))]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
2756,s2757,Movie,Paharganj,Rakesh Ranjan Kumar,"Lorena Franco, Bijesh Jayarajan, Neet Chowdhar...",India,"March 31, 2020",2019-01-01,TV-MA,107 min,"Dramas, Independent Movies, International Movies","In the underbelly of a Delhi neighborhood, a w..."

In [89]:
# 14. Find the top 10 actors who have appeared in the highest number of movies
# produced in India 

df_india=df[df.country.str.contains('india',case=False,na=False)]
df_india['actors']=df_india.cast.str.split(',')
df_new=df_india.explode('actors')
df_new['actors']=df_new.actors.str.strip()
df_new.groupby('actors')['show_id'].count().sort_values(ascending=False).head(10)

C:\Users\ARYAN SINGH\AppData\Local\Temp\ipykernel_19052\2855768074.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_india['actors']=df_india.cast.str.split(',')

actors
Anupam Kher         40
Shah Rukh Khan      34
Naseeruddin Shah    31
Akshay Kumar        29
Om Puri             29
Paresh Rawal        28
Amitabh Bachchan    28
Boman Irani         27
Kareena Kapoor      25
Ajay Devgn          21
Name: show_id, dtype: int64

In [100]:
# 15. Categorize the content based on the presence of the keyword like 'KILL' and 'VIOLENCE' 
#in the description field, label content as 'Bad' otherwise 'Good' . Count how many items falls in category.

df_rated=df.copy()

# df_rated['label'] = np.where(
#     df_rated['description'].str.contains('kill|violence', case=False, na=False),
#     'Bad',
#     'Good')


df_rated['label']=np.where(df_rated['description'].str.contains('kill|violence',case=False,na=False),'Bad','Good')

df_rated.groupby('label').size().reset_index(name='frequency')

  label  frequency
0   Bad        342
1  Good       8465